<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content}}</p>
        <p>Post was created by {{user.name}} on {{format_date date_created}}</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form class="form new-comment-form">
            <div class="mb-3">
                <label for="textarea" class="form-label">COMMENTt:</label>
                <textarea class="form-control" id="comment-text" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary comment-button" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</div>
{{#each comments}}
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Content: {{content}} Date created: {{format_date date_created}} Created by: {{user.name}}</h5>
    </div>
</div>
{{/each}}